/* General */

body {
    font-family: "Montserrat", serif;
    font-size: 14px;
    background: #fdffd4;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    font-weight: 400;
}

h1, h2, h3 {
    font-family: "Montserrat", serif;
    font-weight: 700;
    letter-spacing: -.05em;
}

section, footer {
    margin: 2em;
}

/* Table */

table tbody {
    border: 2px solid #d8cfcf;
}

table caption {
    font: 1.3em;
    font-weight: 700;
}

table td {
    width: 200px;
    height: 40px;
    border: 2px solid #d8cfcf;
}

table td.select {
    border-color: #9ecc82;
}

table tr.select {
    outline: solid #9ecc82;
}

table.select {
    outline: solid #9ecc82;
}
