/* General */

body {
    font-family: "Fenix", serif;
    font-size: 14px;
    background: #DDDDDD;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    font-weight: 400;
}

body > header,
body > section,
body > footer {
    display: block;
    width: 100%;
    clear: both;
    float: left;
}

h1, h2, h3 {
    font-family: "Fenix", serif;
    font-weight: 700;
    letter-spacing: -.05em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.2em;
}

/* Using gridism */

.grid, .unit {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.menu {
    margin: 5px !important;
    padding: 5px !important;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline;
    text-align: center;
    color: #9370db;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 0 10px rgba(255, 0, 0, .3);
    border-radius: 5px;
}

.menu li a {
    color: #000000;
    font: 2em bold;
    text-decoration: none;
}

/* Contacts */

.map {
    /*margin: 5px !important;
    padding: 5px !important; */
    width: 100px;
    height: 150px;
}

.contacts ul {
    list-style: none;
}

/* Stay in touch */

.stay {
    text-align: center;
}

/* Stay in touch */

.footer {
    text-align: center;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu li {
    display: inline;
    text-align: center;
    color: #9370db;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 0 10px rgba(255, 0, 0, .3);
    border-radius: 5px;
}

.footer-menu li a {
    color: #000000;
    font: 1em bold;
}

/*FAQ*/

.faq {
    margin: 0 !important;
    padding: 0px !important;
}

@media (min-width: 570px) {
    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 2.6em;
    }

    h3 {
        font-size: 2em;
    }

    .lead {
        font-size: 1.8em;
    }
}