/* General */

body {
    font-family: "Fenix", serif;
    font-size: 14px;
    background: #DDDDDD;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    font-weight: 400;
}

body > header,
body > section,
body > footer {
    display: block;
    width: 100%;
    clear: both;
    float: left;
}

h1, h2, h3 {
    font-family: "Fenix", serif;
    font-weight: 700;
    letter-spacing: -.05em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.2em;
}

/* Using gridism */

.grid, .unit {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

/* Links */

a {
    color: #708090;
}

a:active, a:hover {
    background: #99ccff;
}

section, footer{
    margin: 2em;
}

/* Menu */

.menu ul {
    list-style: none;
}

.menu li {
    display: inline;
    text-align: center;
    color: #9370db;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 0 10px rgba(255,0,0,.3);
    border-radius: 5px;
}

.menu li a {
    color: #000000;
    font: 2em bold;
    text-decoration: none;
}

/* Contacts */
.contacts {
    height: 40px;
}